<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FurFriends">

        <!-- All secondary activities -->
        <activity
            android:name=".ui.auth.ForgetPass"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pets.PetDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".AdoptionConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pets.UploadPetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.requests.OwnerRequestsActivity"
            android:exported="false" />

        <!-- Main entry point for fragments (after login) -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true" />

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />

        <!-- Splash screen, the main entry point of the app -->
        <activity
            android:name=".ui.auth.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
